<div class="container-xxl">
  <div class="row">
    <div class="col-sm">
      <div class="shape2"></div>
      <h1 class="tittle mt-5 ml-5">
        Commersialisez<br />
        Votre produit
      </h1>
      <div style="width: 100%">
        <p class="sous_titre ml-5">
          e Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le
          faux texte standard de l'imprimerie depuis les années 1500, quand un imprimeur anonyme assembla ensemble des morceaux de texte
          pour réaliser un livre spécimen de polices de texte
        </p>
        <button class="btn ml-5 mt-3">Déposer une annonce</button>
      </div>
    </div>

    <div class="col-sm">
      <div id="right_shipe"></div>
      <div class="img-fluid all" style="">
        <div class="shape1"></div>
        <img src="content/images/dd.png" id="img" class="mr-3" />
      </div>
    </div>
  </div>
</div>
